<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/views/css/bootstrap.css" rel="stylesheet" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>Combine an Ingredient</title>
   
</head>

<body>

<div class="background">
    <div class="main">
        <form action="/api/ingredient" method="POST">
            <h2>Upload a new Ingredient</h2>
            
            <h4>Ingredient Name: </h4>
            <input class="form-control" type="text" name="name"/>

            
            

        </form>
        <button type="button" class="btn-primary btn-block btn">Submit</button>
        <button type="button" class="btn-primary btn-block btn">Submit</button>
        <button type="button" class="btn-primary btn-block btn">Submit</button>
        
        <h4>Current Ingredients: </h4>
        <ul class="list-group" id="ingrList"></ul>
    </div>
</div>

<script src="/views/js/bootstrap.bundle.js" ></script>
<script>
    $('.btn').click(function () {
            $(this).toggleClass("active"); //addCss("active");
        })

    $.get("api/ingredient", function(data) {
        var temp = data.ingredients.map(ingredient => {
            return '<li class="list-group-item" value="'+ ingredient._id +'">'+ingredient.name+'</li>';
        }).join(" ");
        document.getElementById("ingrList").innerHTML = temp;
    });
</script>
</body>
</html>