<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/views/css/bootstrap.css" rel="stylesheet" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>Write a recipe</title>
</head>

<body>

<div class="background">

<div class="main">
    <input type="hidden" id="ingrListHTML"/>
    <input type="hidden" id="unitListHTML"/>
    <form action="/recipe" method="POST">
        <h2>Title:</h2>
        <input type="text" class="form-control" id="title" name="title" placeholder=""><br>

        <h4>Preface:</h4>
        <input type="text" class="form-control" id="preface" name="preface" placeholder=""><br>

        
        <input type="hidden" name="compCount" id="compCount" value="1" />
        <div id = components>
            <div id="component-1">
                <input type="hidden" name="comp-1-stpsCnt" id="comp-1-stpsCnt" value="1" />
                <input type="hidden" name="comp-1-ingrCnt" id="comp-1-ingrCnt" value="1" />
                <h3>Component 1:</h3>
                <div class="row">
                    <div class="col-md-2"><h4>Component Title: </h4></div>
                    <div class="col-md-10"><input class="form-control" type="text" name="comp-1-name"/></div>
                </div><div class="row">
                    <div class="col-md-2"><h5>Active Time: </h5></div>
                    <div class="col-md-4"><input class="form-control" type="number" name="comp-1-activeTime"></div>
                    <div class="col-md-2"><h5>Away Time: </h5></div>
                    <div class="col-md-4"><input class="form-control" type="number" name="comp-1-awayTime"></div>
                </div>
                <h4>Ingredients:</h4>
                <small>Press + to add another ingredient</small>
                <div id="comp-1-ingredients">
                    <div class="row" id="comp-1-row-1">
                        <div class ="col-md-2"><input class="form-control" id="comp-1-quantity-1" type="number" name="comp-1-quantity"/></div>
                        <div class ="col-md-6"><select class="form-control" id="comp-1-ingredient-1" name="comp-1-ingredients"></select></div>
                        <div class ="col-md-2"><select class="form-control" id="comp-1-unit-1" name="comp-1-unit"></select></div>
                        <div class ="col-md-2"><button id="addIngr-1" class="btn btn-block add-ingr" type="button">+</button></div>
                    </div>
                </div>
                <h4>Steps:</h4>
                <small>Press + to add another step</small>
                <div id="comp-1-steps"> 
                    <div class="row"  id="comp-1-row-1" >
                        <div class="col-md-10"><input autocomplete="off" class="input form-control" name="comp-1-step" type="text" placeholder="Step #1..."/></div>
                        <div class="col-md-2"><button id="addStep-1" class="btn btn-block add-step" type="button">+</button></div>
                    </div>
                </div>
            </div>
        </div>

        <button id="addComponent" class="btn add-component" type="button">Add a component</button>
        <button id="removeComponent" class="btn btn-danger remove-component" type="button">Remove a component</button><br>

        <h4>Notes:</h4>
        <input type="text" class="form-control" id="notes" name="notes" placeholder=""><br>

        <button type="submit" class="btn btn-block btn-default">Submit</button>

    </form>
</div>

</div>
<script src="/views/js/bootstrap.bundle.js" ></script>
<script>
    $.get("api/ingredient", function(data) {
        var temp = data.ingredients.map(ingredient => {
            return '<option value='+ingredient.name+'>'+ingredient.name+'</option>';
        });
        document.getElementById("ingrListHTML").value = temp;
        document.getElementById("comp-1-ingredient-1").innerHTML = temp;
    });
    $.get("api/ingredient/units", function(data) {
        var temp = data.units.map(unit => {
            return '<option value='+unit+'>'+unit+'</option>';
        });
        document.getElementById("unitListHTML").value = temp;
        document.getElementById("comp-1-unit-1").innerHTML = temp;
    });

    $(".add-component").click(event => {
        var compNo = parseInt(document.getElementById("compCount").value) + 1;
        var nextComp = document.createElement("div");
        nextComp.setAttribute("id", "component-" + compNo);
        var temp = '<input type="hidden" name="comp-'+compNo+'-stpsCnt" id="comp-'+compNo+'-stpsCnt" value="1" />\
                <input type="hidden" name="comp-'+compNo+'-ingrCnt" id="comp-'+compNo+'-ingrCnt" value="1" />\
                <h3>Component '+compNo+':</h3>\
                <div class="row">\
                    <div class="col-md-2"><h4>Component Title: </h4></div>\
                    <div class="col-md-10"><input class="form-control" type="text" name="comp-'+compNo+'-name"/></div>\
                </div><div class="row">\
                    <div class="col-md-2"><h5>Active Time: </h5></div>\
                    <div class="col-md-4"><input class="form-control" type="number" name="comp-'+compNo+'-activeTime"></div>\
                    <div class="col-md-2"><h5>Away Time: </h5></div>\
                    <div class="col-md-4"><input class="form-control" type="number" name="comp-'+compNo+'-awayTime"></div>\
                </div>\
                <h4>Ingredients:</h4>\
                <small>Press + to add another ingredient</small>\
                <div id="comp-'+compNo+'-ingredients">\
                    <div class="row" id="comp-'+compNo+'-row-1">\
                        <div class ="col-md-2"><input class="form-control" id="comp-'+compNo+'-quantity-'+ingrNo+'" type="number" name="comp-'+compNo+'-quantity"/></div>\
                        <div class ="col-md-6"><select class="form-control" id="comp-'+compNo+'-ingredient-'+ingrNo+'" name="comp-'+compNo+'-ingredients"></select></div>\
                        <div class ="col-md-2"><select class="form-control" id="comp-'+compNo+'-unit-'+ingrNo+'" name="comp-'+compNo+'-unit"></select></div>\
                        <div class ="col-md-2"><button id="addIngr-'+compNo+'" class="btn btn-block add-ingr" type="button">+</button></div>\
                    </div>\
                </div>\
                <h4>Steps:</h4>\
                <small>Press + to add another step</small>\
                <div id="comp-'+compNo+'-steps"> \
                    <div class="row"  id="comp-'+compNo+'-row-1" >\
                        <div class="col-md-10"><input autocomplete="off" class="input form-control" name="comp-'+compNo+'-step" type="text" placeholder="Step #1..."/></div>\
                        <div class="col-md-2"><button id="addStep-'+compNo+'" class="btn btn-block add-step" type="button">+</button></div>\
                    </div>\
                </div>';
        nextComp.innerHTML = temp;
        document.getElementById("components").appendChild(nextComp);
        document.getElementById("compCount").value = compNo;
        
        $('.remove-component').off().on('click', event => {
            try{
                document.getElementById('component-'+(document.getElementById("compCount").value)).remove();
                document.getElementById("compCount").value -= 1;
            }
            catch{
                console.log("error");
            }
        });
    });

    document.addEventListener('click', event => {
        if (event.target.classList.contains("add-step")){
            event.preventDefault();
            compNo = event.target.id.split("-")[1];
            var stepNo = parseInt(document.getElementById("comp-" + compNo + "-stpsCnt").value) + 1;
            var nextStep = document.createElement("div");
            nextStep.setAttribute("class", "row");
            nextStep.setAttribute("id", 'comp-'+ compNo +'-row-' + stepNo);
            nextStep.innerHTML = '<div class="col-md-10"><input autocomplete="off" class="input form-control" name="comp-'+ compNo +'-step" type="text"></div>\
            <div class="col-md-2"><button id="comp-'+ compNo +'-remove-' + stepNo + '" class="btn btn-block btn-danger remove-step" >-</button></div>';
            document.getElementById("comp-"+ compNo +"-steps").appendChild(nextStep);
            document.getElementById("comp-" + compNo + "-stpsCnt").val = stepNo;
        }
        else if (event.target.classList.contains("remove-step")){
            event.preventDefault();
            event.target.parentElement.parentElement.remove();
        }
        else if (event.target.classList.contains("add-ingr")){
            event.preventDefault();
            compNo = event.target.id.split("-")[1];
            var ingrNo = parseInt(document.getElementById("comp-" + compNo + "-ingrCnt").value) + 1;
            var nextIngr = document.createElement("div");
            nextIngr.setAttribute("class", "row");
            nextIngr.setAttribute("id", 'comp-'+ compNo +'-row-' + ingrNo);
            var temp = '<div class ="col-md-2"><input class="form-control" type="number" id="comp-'+ compNo +'-quantity-'+ingrNo+'" name="comp-'+ compNo +'-quantity"/></div>';
            temp += '<div class ="col-md-6"><select class="form-control" type="text" id="comp-'+ compNo +'-ingredient-'+ingrNo+'" name="comp-'+ compNo +'-ingredients">' + document.getElementById("ingrListHTML").value + '</select></div>';
            temp += '<div class ="col-md-2"><select class="form-control" type="text" id="comp-'+ compNo +'-unit-'+ingrNo+'" name="comp-'+ compNo +'-unit">'+ document.getElementById("unitListHTML").value +'</select></div>';
            temp += '<div class ="col-md-2"><button id="comp-'+ compNo +'-remove-' + ingrNo + ' " class="btn btn-block btn-danger remove-ingr" >-</button></div>';
            temp += '</div>';
            nextIngr.innerHTML = temp;
            document.getElementById("comp-"+ compNo +"-ingredients").appendChild(nextIngr);
            document.getElementById("comp-" + compNo + "-ingrCnt").value = ingrNo;
        }
        else if (event.target.classList.contains("remove-ingr")){
            event.preventDefault();
            event.target.parentElement.parentElement.remove();
        }
    })
</script>
</body>
</html>