<!DOCTYPE html>  
<html>  
<head>
  <meta charset="utf-8">
  <title> <%= title %> </title>
</head>
<h1>
    <meta charset="utf-8">
     <%= title %>
</h1>
<body>
    <main>
      <%- include("table", {recipes}); %>
</main>
</body>
</html>  